<div id="naviagion">
  <section class="ui twelve item stackable menu">
   <div class="item">
   <a href="/index.html" class=" <%= current.source=='index'?'selected':'' %>">
      Home
    </div></a><div class="item">
    <a href="/strands/noobs.html" class=" <%= current.source=='noobs'?'selected':'' %> ">
      Noobs
    </div></a><div class="item">
    <a href="/strands/heroes.html" class=" <%= current.source=='heroes'?'selected':'' %> ">
      Heroes
    </div></a><div class="item">
     <a href="/strands/fanArt.html" class=" <%= current.source=='fanArt'?'selected':'' %> ">
      Fan Art
    </div></a><div class="item">
     <a href="/strands/customGames.html" class=" <%= current.source=='customGames'?'selected':'' %> ">
      Custom Games
    </div></a><div class="item">
     <a href="/strands/proScene.html" class=" <%= current.source=='proScene'?'selected':'' %>">
      Proscene 
    </div></a><div class="item">
     <a href="/strands/updates.html" class=" <%= current.source=='updates'?'selected':'' %> ">
      Updates
    </div></a><div class="item">
     <a href="/strands/history.html" class=" <%= current.source=='history'?'selected':'' %> ">
      History
    </div></a><div class="item">
     <a href="/strands/valve.html" class=" <%= current.source=='valve'?'selected':'' %> ">
      Valve
    </div></a><div class="item">
    <a href="/strands/userreviews.html" class=" <%= current.source=='userreviews'?'selected':'' %> ">
      User Reviews
    </div></a><div class="item">
    <a href="/strands/items.html" class=" <%= current.source=='items'?'selected':'' %> ">
      items
    </div></a><div class="item">
    <a href="/strands/workshop.html" class=" <%= current.source=='workshop'?'selected':'' %> ">
      Workshop
    </div></a>
  </section>
</div>